services:
  db:
    image: postgres:16-alpine
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: todo-user
      POSTGRES_PASSWORD: todo-pass
      POSTGRES_DB: todo-db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5431:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U todo-user -d todo-db"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
